body{
    height: 50vh;
}

.contact-page{
    background-color: rgb(174, 55, 55);
    color: white;
    display: flex;
}

.body{
    margin-top: 10%;
    margin-left: 8px;
    font-size: x-large;
}

.image{
    margin-left: 20%;
    margin-right: 5%;
}